<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqupt.DAO.inter.ProfessionaltitleMapper" >
  <resultMap id="BaseResultMap" type="com.cqupt.model.pojo.Professionaltitle" >
    <id column="professionalTitleId" property="professionaltitleid" jdbcType="INTEGER" />
    <result column="professionalTitle" property="professionaltitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    professionalTitleId, professionalTitle
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cqupt.model.pojo.ProfessionaltitleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from professionaltitle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from professionaltitle
    where professionalTitleId = #{professionaltitleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from professionaltitle
    where professionalTitleId = #{professionaltitleid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cqupt.model.pojo.ProfessionaltitleExample" >
    delete from professionaltitle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cqupt.model.pojo.Professionaltitle" >
    insert into professionaltitle (professionalTitleId, professionalTitle
      )
    values (#{professionaltitleid,jdbcType=INTEGER}, #{professionaltitle,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cqupt.model.pojo.Professionaltitle" >
    insert into professionaltitle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="professionaltitleid != null" >
        professionalTitleId,
      </if>
      <if test="professionaltitle != null" >
        professionalTitle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="professionaltitleid != null" >
        #{professionaltitleid,jdbcType=INTEGER},
      </if>
      <if test="professionaltitle != null" >
        #{professionaltitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cqupt.model.pojo.ProfessionaltitleExample" resultType="java.lang.Integer" >
    select count(*) from professionaltitle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update professionaltitle
    <set >
      <if test="record.professionaltitleid != null" >
        professionalTitleId = #{record.professionaltitleid,jdbcType=INTEGER},
      </if>
      <if test="record.professionaltitle != null" >
        professionalTitle = #{record.professionaltitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update professionaltitle
    set professionalTitleId = #{record.professionaltitleid,jdbcType=INTEGER},
      professionalTitle = #{record.professionaltitle,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cqupt.model.pojo.Professionaltitle" >
    update professionaltitle
    <set >
      <if test="professionaltitle != null" >
        professionalTitle = #{professionaltitle,jdbcType=VARCHAR},
      </if>
    </set>
    where professionalTitleId = #{professionaltitleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqupt.model.pojo.Professionaltitle" >
    update professionaltitle
    set professionalTitle = #{professionaltitle,jdbcType=VARCHAR}
    where professionalTitleId = #{professionaltitleid,jdbcType=INTEGER}
  </update>
</mapper>